body {
  width: 100%;
  height: 100%;
  margin: 0;
}
header {
  text-align: center;
}
section figure img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
header nav {
  align-items: center;
}
header nav a {
  padding-left: 10px;
  padding-right: 10px;
}
section figure img figcaption {
  font-size: small;
}
